body{
    font-family: sans-serif;
}
.header-main{
    display: flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 3px;
}
.logo{
    font-size: 1.5rem;
    padding: 0px 20px;
}
.nav-bar{
    display: flex;
    list-style-type: none;
}
.nav{
    padding: 16px;
}
.nav-active{
    background-color: darkgray;
    text-decoration: none;
}
.line{
    background-color: lightgray;
    padding: 6px 12px;
    margin-bottom: 6px;
    border-radius: 3px;
}
.user-name{
    color: green;
    font-size: 1.5rem;
}